In [5]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [6]:
rentalDF = pd.read_csv("../MLOPS/VisualPath_Class/0800amist-learning-mlops-main/0800amist-learning-mlops-main/mlops-predict-rental-price/data/rental_1000.csv")

In [7]:
rentalDF

     rooms  sqft   price
0        4  1334   69702
1        5  1725   86083
2        1  1058   53492
3        2  2117  106500
4        2  2225  110860
..     ...   ...     ...
995      2   724   36981
996      2  2305  114239
997      4  1782   88291
998      2  1449   75552
999      2  1190   60859

[1000 rows x 3 columns]

# Features

-rooms
-sqft

# Labels
-price

In [38]:
X = np.array([[1, 1], [1, 2], [2, 2], [2, 3]])

# y = 1 * x_0 + 2 * x_1 + 3

y = np.dot(X, np.array([1, 2])) + 3

reg = LinearRegression().fit(X, y)

reg.score(X, y)
# 1.0

reg.coef_
# array([1., 2.])

reg.intercept_
# 3.0...

reg.predict(np.array([[3, 5]]))
# array([16.])

array([16.])

In [39]:
X = rentalDF[['rooms','sqft']].values #Features
y = rentalDF['price'].values #Label

In [40]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

# Model Training

In [41]:
model = LinearRegression().fit(X,y)

# Model Prediction

In [42]:
print(X_test[0])

[   1 1778]

In [43]:
model.predict(X_test[0].reshape(1,-1))[0]

np.float64(89497.24812451165)

In [44]:
predict_rental_price=model.predict(X_test[0].reshape(1,-1))[0]

In [53]:
print("The Actual Rental Price for Rooms with Count =",X_test[0][0]," and","Sqft=",X_test[0][1],"is =", y_test[0])

The Actual Rental Price for Rooms with Count = 1  and Sqft= 1778 is = 88229

In [52]:
print("The Predicted Rental Price for Rooms with Count =",X_test[0][0]," and","Area in Sqft=",X_test[0][1],"is =",predict_rental_price)

The Predicted Rental Price for Rooms with Count = 1  and Area in Sqft= 1778 is = 89497.24812451165